.ModalHeader{
   background-color: #00BFFF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ButtonRegister{
   background-color: #00BFFF;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ButtonClose{
   background-color: #00BFFF;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}