
.ToolbarWrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2%;
    left: 14%;
    border-radius: 80%;
    z-index: 3000;
    font-weight: bold;
    font-size: 8px;
}

.ToolbarWrapperUpped {
    bottom: 5%;
}

.ToolbarWrapper img {
    height: 20px;
    width: 20px;
    margin: 0 auto;
}

.ToolbarButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    box-shadow: 0 0 10px gray;
    background-color: #4CAF50;
    margin: 5px 5px 5px -83px;
    transition-property: margin-left, bottom;
    transition-duration: 0.7s, 0.7s;
    user-select: none;   
}

.ToolbarButton:hover {
    box-shadow: 5px 5px 5px;
    background-color: lightcoral;
    cursor: pointer;
}

.ToolbarButton:active {
    box-shadow: 0 0 10px gray;    
}

.ToolbarButtonText {
    text-align: center;
    user-select: none;
    width: 60px;   
    margin-left: 8px; 
}